<form (ngSubmit) = "getMyBooksForm(f)" #f="ngForm">

<body>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" routerLink="/selit">SELIT</a>
            
          </div>
          <div class="collapse navbar-collapse" id="header" class="invisible">
              <ul class="nav navbar-nav navbar-left">
                  <li ><a  [(ngModel)]="myData" routerLink ="/student" (click)="onSelect('student');"data-toggle="tooltip" title="Go to your profile form!" id ="studentHeader" >PROFILE</a></li>
              </ul>
            <ul class="nav navbar-nav navbar-right">                               
                    <li><a [(ngModel)]="myData" routerLink= "/show" (click)="onSelect('show'); getShowAllBooks()"data-toggle="tooltip" data-placement="bottom" title="Go to Show All Books Form!" ><span class="glyphicon glyphicon-search
                      "></span>SHOW ALL BOOKS</a></li>
                    <li><a routerLink= "/displaybooks" (click)="onSelect('search')"data-toggle="tooltip" data-placement="bottom" title="Go to Search Book Form!" ><span class="glyphicon glyphicon-search
                      "></span>SEARCH BOOK</a></li>
                    <li><a routerLink="/addbook" (click)="onSelect('add')"data-toggle="tooltip" data-placement="bottom" title="Go to Add Book Form!" ><span class="glyphicon glyphicon-book"></span>ADD BOOK</a></li>
             
              <li class="dropdown"appDropdown>
                <a class="dropdown-toggle"appDropdown data-toggle="dropdown" routerLink="#" >MENU
                <span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul class="dropdown-menu" >
                        <li><a routerLink="/help"(click)="onSelect('help')">Help<span class="glyphicon glyphicon-question-sign"></span></a></li>
                        <li><a routerLink="/report"(click)="onSelect('report')"data-toggle="tooltip" data-placement="bottom" title="Report a Student for unacceptable behaviour!">Report Student<span class="glyphicon glyphicon-eye-open"></span></a></li>
                        <li><a routerLink="/logout"(click)="onSelect('logout')">Logout<span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
              </li>
              <li><a routerLinkActive = "active" routerLink="/home" (click)="onSelect('home')"data-toggle="tooltip" data-placement="bottom" title="Go to Home Page"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
     
</body>
</form>
      <!-- <fieldset disabled></fieldset> -->