<body style=" text-align: center; width: 1170px; align-content: center;background-color: #2d2d30; opacity: 0.8;" >
    <h3 style="left: 500%; font:bold;text-align: center; align-self: auto; color: white ;">All Books Found</h3>   
    <form (ngSubmit) = "postBooksSearch(f)" #f="ngForm">
    <h1>
    </h1>
    <input [(ngModel)]="loginData" name = "book_name" type="text" id="myInput" style ="text-align: center; " onkeyup="myFilterShowAllBooks()" placeholder="Search for your book..">
   <div class="col">
    <div class="row col-xs-12">
        <strong style=" width:auto; align-content: center; color: white">SHOW ALL BOOKS</strong>
        <table  id = "bookdisplay" class="table" style=" width:auto; align-content: center; color: white">
            <thead>
                <tr>
                    <th>
                      
                        Book Name
                    </th>
                    <th>
                        Book Edition
                    </th>
                    <th>
                        Book Author
                    </th>
                    <th>
                        ISBN Number 13
                    </th>
                    <th>
                        Subject Code
                    </th>
                    <th>
                        Book Price
                    </th>
                    <th>
                        Book Type
                    </th>
                    <th>
                        Student Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Cellphone Number
                    </th>                    
                </tr>
           </thead>
           </table>
      <table>
    <ul id="myUL">
      <td>
      <li><a href="#">Adele</a></li>
      <li><a href="#">Agnes</a></li>
    
      <li><a href="#">Billy</a></li>
      <li><a href="#">Bob</a></li>
    
      <li><a href="#">Calvin</a></li>
      <li><a href="#">Christina</a></li>
      <li><a href="#">Cindy</a></li>
      </td>
      <td>
          <li><a href="#">Hello</a></li>
          <li><a href="#">Sannie</a></li>
        
          <li><a href="#">Koosie</a></li>
          <li><a href="#">Bob</a></li>
        
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          </td>
          
    </ul>
    
  </table>
  </div>
</div>
    
  </form>
</body>