<span class="border border-dark">
  <body style="height: auto;border-style:initial;left: 3%;width:350px;bottom:100; position: absolute; color:black; background-color:transparent; border-color: black" class = "rounded">
    <h3 style="color:white">Enter your student number and password.</h3>
      
    <label style="color:white">Student Number:</label>
    <!-- form created to send the data as an object to the server and displaying the data received -->
    <form (ngSubmit) = "postSignIn(f)" #f="ngForm">
       <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>    
          <input 
                required
                type="text" [(ngModel)]="loginData" 
                name = "student_number" 
                class= "form-control" 
                placeholder="Enter Student Number" 
                maxlength="8" 
                minlength="8" 
                style="width: 300px"
                #studentnum = "ngModel">
                <!--Checks if user input is valid and displays error message-->
                <span class = "help-block" 
                      style="color:white" 
                      *ngIf = "!studentnum.valid && studentnum.touched">Please a valid Student Number!</span>
       </div>

    <label style="color:white">Password:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input 
              onclick="checkLogin()" 
              required
              type= "Password" 
              [(ngModel)]="loginData.password" 
              name = "password"
              class= "form-control" 
              id = "loginpass" 
              placeholder="Enter password"  
              style="width: 300px">
      </div>
        <h1></h1>

<div>
  <button 
         type = "submit" 
         data-toggle="tooltip" 
         data-placement="bottom" 
         title="Login!" 
         style="height: 35px; width: 340px;  color: white; position:relative; left: 0%; " 
         class ="btn btn-primary" 
         [disabled]="allowsNewServer">LOGIN</button>
</div>
  
    </form>
  </body>
</span>

   







      