
 <app-header (featureSelected) ="onNavigate($event)"></app-header>
 <div class="image">
                <div class = "container">
                                <div class= "row">
                                        
                                                       <app-login *ngIf="loadedFeature == 'login'"></app-login>  
                                                       <app-register *ngIf="loadedFeature == 'register'"></app-register>
                                                       <app-displaybooks *ngIf="loadedFeature == 'search'"></app-displaybooks>
                                                       <app-add-book  *ngIf="loadedFeature == 'add'"></app-add-book>
                                                       <app-reportstudent  *ngIf="loadedFeature == 'report'"></app-reportstudent>
                                                       <app-home  *ngIf="loadedFeature == ''"></app-home>
                                                       <app-help *ngIf="loadedFeature == 'help'"></app-help>
                                                       <app-logout *ngIf="loadedFeature == 'logout'"></app-logout>
                                                       <app-student *ngIf="loadedFeature == 'student'"> </app-student>
                                                       
                                </div>
                      </div>    
        </div>
     
      
<!-- 
<div class="contaier">
  <div class="row">
          <div class="col-xs-12">
                  <h3>hello</h3>  

                  <app-servers></app-servers>
                  <input type="text" [(ngModel)]="name"> 
                   <p> {{name}}</p>


          </div>
  </div>
</div>
 -->
<!-- <div>
 <app-header (featureSelected) ="onNavigate($event)"></app-header>
</div>
 <app-login *ngIf="loadedFeature == 'login'"></app-login>
 <app-register *ngIf="loadedFeature == 'register'"></app-register> -->
  <!-- <app-display-books *ngIf="loadedFeature == 'add'"></app-display-books> -->


<!-- <div class="container">
        <div class="row">
                <div class="col-md-20">
                      
                </div>
        </div>
</div> -->

<!-- <img style="position: auto ;width: 300px; height: 130px; left:12%; top: 20%" src="../assets/Img/SELIT.png">
<div class="image">
  
  </div>
</div>

<
 -->
 <!-- <app-displaybooks></app-displaybooks> -->