<body style=" position:absolute; color:black; left: 5%; top: 7%; background-color: transparent; width: 1200px">
  <h3 style="color:white">Enter Book Details</h3>


  <form (ngSubmit) = "postBooks(f)" #f="ngForm">


<div style="display:flex; flex-direction: row; align-items: center">
  <div style="float:left;margin-right:20px;">
<label for = "book_name" style="color:white">Book Name</label>
<input [(ngModel)]="addBook" name = "book_name" id = "book_name" type="text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Name">
  </div>

<div style="float:left;margin-right:20px;">
<label for = "book_edition" style="color:white">Book Edition</label>
<input  id = "book_edition" type= "text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Edition">
</div>

<div style="float:left;margin-right:20px;">
<label for = "book_isbn-10" style="color:white">Book ISBN 10 Number</label>
<input id= "book_isbn-10" type="text" style="width: 220px;  height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 10 Number">
</div>

<div style="float:left;margin-right:20px;">
<label for = "book_isbn-13" style="color:white">Book ISBN 13 Number</label>
<input id= "book_isbn-13" type= "text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 13 Number">
</div>

<div style="float:left;margin-right:20px;">
<label for = "author_name" style="color:white">Author Name</label>
<input id = "author_name" type= "text" style="width: 220px;  height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Author Name">
</div>
</div>

<div style="display:flex; flex-direction: row; align-items: center">
  <div style="float:left;margin-right:20px;">
<label for = "book_price" style="color:white">Book Price</label>
<input id = "book_price" type= "text" style="width: 220px ; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Price">
</div>

<div style="float:left;margin-right:20px;">
<div class="row">
  <div class="col-xs-12">
    <label style="color:white">Book Type
    </label>
 </div>
 </div>

<select>
    <option label="Advertisement"></option>
    <option label="Request"></option>
  </select>
</div>
</div>
  <div class="row">
    <div class="col-xs-12">
<label style="color:white">Date</label>
</div>
</div>

<input type= "date" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)">

<label style="color:white">Subject Code</label>
<input type= "text" style="width: 220px;  height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Example: ITRW111">

  <div class="row">
    <div class="col-xs-12">
      <label style="color:white">Hostel
      </label>
   </div>
   </div>

  <select>
      <option label="Caput"></option>
      <option label="De Wilgers"></option>
      <option label="Excelsior"></option>
      <option label="Hombre"></option>
      <option label="Laureus"></option>
      <option label="Over de Voor"></option>
      <option label="Partia"></option>
      <option label="Ratau"></option>
      <option label="Veritas"></option>
      <option label="Eikenhof"></option>
      <option label="Heide"></option>
      <option label="Karlien"></option>
      <option label="Kasteel"></option>
      <option label="Klawerhof"></option>
      <option label="Minjonet"></option>
      <option label="Oosterhof"></option>
      <option label="Republiek"></option>
      <option label="Vergeet My Nie"></option>
      <option label="Wag n Bietjie"></option>
      <option label="Wanda"></option>
      <option label="Oppirif"></option>
      <option label="Private"></option>
    </select>
    <div class="row">
      <div class="col-xs-12">
        
     </div>
     </div>

<div class = "row">
  <div class = "col-xs-12">
   <button style="color: white; background-color: black;left: 50%; width: 250px" class ="btn btn-primary" [disabled]="allowsNewServer">ADD BOOK</button>
  </div>
</div>
</form>