<body style=" position:absolute; color:black; left: 5%; top: 7%; background-color: #2d2d30; opacity: 0.7; ; width: 1200px">
  <h3 style="color:white">Enter Book Details</h3>


  <form (ngSubmit) = "postBooks(f)" #f="ngForm">
  

<div style="display:flex; flex-direction: row; align-items: center">
  <div style="float:left;margin-right:20px;">
<label for = "book_name" style="color:white">Book Name</label>
<input [(ngModel)]="addBook" name = "book_name" id = "book_name" type="text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Name">
  </div>

<div style="float:left;margin-right:20px;">
<label for = "book_edition" style="color:white">Book Edition</label>
<input  [(ngModel)]="addBook.edition" name = "book_edition" id = "book_edition" type= "text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Edition">
</div>

<div style="float:left;margin-right:20px;">
<label for = "book_isbn-10" style="color:white">Book ISBN 10 Number</label>
<input [(ngModel)]="addBook.isbn10" name = "book_isbn_10_number" id= "book_isbn-10" type="text" style="width: 220px;  height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 10 Number">
</div>

<div style="float:left;margin-right:20px;">
<label for = "book_isbn-13" style="color:white">Book ISBN 13 Number</label>
<input [(ngModel)]="addBook.isbn13" name = "book_isbn_13_number" id= "book_isbn-13" type= "text" style="width: 220px; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 13 Number">
</div>

<div style="float:left;margin-right:20px;">
<label for = "author_name" style="color:white">Author Name</label>
<input [(ngModel)]="addBook.author" name = "author_name" id = "author_name" type= "text" style="width: 220px;  height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Author Name">
</div>
</div>

<div style="display:flex; flex-direction: row; align-items: center">
  <div style="float:left;margin-right:20px;">
<label for = "book_price" style="color:white">Book Price</label>
<input [(ngModel)]="addBook.price" name = "book_price" id = "book_price" type= "text" style="width: 220px ; height: 30px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Price">
</div>

<div style="float:left;margin-right:20px;">
<div class="row">
  <div class="col-xs-12">
    <label style="color:white">Book Type
    </label>
 </div>
 </div>

<select [(ngModel)]="addBook.type" name = "book_type">
    <option label="Advertisement" id="a">Advertisement</option>
    <option label="Request" id="r">Request</option>
  </select>
</div>
</div>
  <div class="row">
    <div class="col-xs-12">
<label style="color:white">Date</label>
</div>
</div>

<input [(ngModel)]="addBook.dateplaced" name = "date_placed" type= "date" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)">

<label style="color:white">Subject Code</label>
<div class="row" class="text-uppercase">
    <div class="col-xs-12" class="text-uppercase">
<input  type= "text"  style="width: 220px;  height: 30px"
 class="text-uppercase"  placeholder=" ITRW111" [(ngModel)]= "addBook.code" class="text-uppercase"  name = "subject_code">
</div>
</div>
  <div class="row">
    <div class="col-xs-12">
 <label>
   
 </label>
   </div>
   </div>

    <div class="row">
      <div class="col-xs-12">
        
     </div>
     </div>

<div class = "row">
  <div class = "col-xs-12">
   <button style="color: white; background-color: black;left: 50%; width: 250px" class ="btn btn-primary" [disabled]="allowsNewServer">ADD BOOK</button>
  </div>
</div>
</form>