<body style=" position: absolute; color:black; background-color:lemonchiffon; width: 250px">
  <h3>Enter Book Details</h3>
<label>Book Name</label>
<input type="text" style="width: 220px;"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Name">


<label>Book Edition</label>
<input type= "text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Book Edition">

<label>Book ISBN 10 Number</label>
<input type="text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 10 Number">

<label>Book ISBN 13 Number</label>
<input type= "text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter ISBN 13 Number">

<label>Book Price</label>
<input type= "text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Price">

<label>Date</label>
<input type= "date" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)">

<label>Author Name</label>
<input type= "text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Enter Author Name">

<label>Subject Code</label>
<input type= "text" style="width: 220px"
class= "form-control"(input)="onUpdateServerName($event)"  placeholder="Example: ITRW111">

  <div class="row">
    <div class="col-xs-12">
      <label>Hostel
      </label>
   </div>
   </div>

  <select>
      <option label="Caput"></option>
      <option label="De Wilgers"></option>
      <option label="Excelsior"></option>
      <option label="Hombre"></option>
      <option label="Laureus"></option>
      <option label="Over de Voor"></option>
      <option label="Partia"></option>
      <option label="Ratau"></option>
      <option label="Veritas"></option>
      <option label="Eikenhof"></option>
      <option label="Heide"></option>
      <option label="Karlien"></option>
      <option label="Kasteel"></option>
      <option label="Klawerhof"></option>
      <option label="Minjonet"></option>
      <option label="Oosterhof"></option>
      <option label="Republiek"></option>
      <option label="Vergeet My Nie"></option>
      <option label="Wag n Bietjie"></option>
      <option label="Wanda"></option>
      <option label="Oppirif"></option>
      <option label="Private"></option>
    </select>
    <div class="row">
      <div class="col-xs-12">
        
     </div>
     </div>

,<div class = "row">
  <div class = "col-xs-12">
    <button style="color: white; left: 50%; width: 250px" class ="btn btn-primary" [disabled]="!allowsNewServer">ADD BOOK</button>
  </div>
</div>
