<!-- <nav>
    <nav class="navbar navbar-default navbar-fixed-top">
    <li class="dropdown"appDropdown>
        <a class="dropdown-toggle"appDropdown data-toggle="dropdown" href="#" >MENU
        <span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <ul class="dropdown-menu" >
                <li><a href="#"(click)="onSelect('help')">Help<span class="glyphicon glyphicon-question-sign"></span></a></li>
                <li><a href="#"(click)="onSelect('report')"data-toggle="tooltip" data-placement="bottom" title="Report a Student for unacceptable behaviour!">Report Student<span class="glyphicon glyphicon-eye-open"></span></a></li>
                <li><a href="#"(click)="onSelect('logout')">Logout<span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
      </li>
    </nav> -->
