<!-- body created for displaying better the component -->
<body style="align-content: center; position: absolute; left:40%; color:black; background-color:transparent; width: 250px; align-self: auto; align-content: center">
<h3 style=" text-align: center; font:bolder; color: white">Report Details</h3>
<!-- form created to send the data as an object to the server and displaying the data received -->
<form (ngSubmit) = "postOffences(f)" #f="ngForm">
      <label style="align-content: center; text-align: center;align-self: auto; color: white">Student Number</label>
            <!-- check if the student number is 8 long in the input -->
            <input 
                  [(ngModel)]="addOffence" 
                  name = "student_number" 
                  type="text" 
                  style="width: 250px; text-align: center;"
                  class= "form-control"(input)="onUpdateServerName($event)"  
                  placeholder="Enter Student Number"
                  maxlength="8"
                  minlength="8"
                  required
                  #studentnum = "ngModel">
                        <span class = "help-block" 
                              style="color:white" 
                              *ngIf = "!studentnum.valid && studentnum.touched">Please enter a valid Student Number!</span>

      <label style=" text-align: center; color: white">Reasons for report</label>
<!-- posting a reason -->
      <input 
      [(ngModel)]="addOffence.reason" 
      name = "reason" 
      type= "text" 
      style="width: 250px; text-align: center;"
      class= "form-control"(input)="onUpdateServerName($event)"  
      placeholder="Enter Valid Reason"
      required
      #report = "ngModel">
      <span class = "help-block" 
            style="color:white" 
            *ngIf = "!report.valid && report.touched">Please enter a valid Reason for Reporting another student!</span>

<!-- <label style="align-content: center; text-align: center;align-self: auto; color: white">Date of offence</label>
input to choose a date for when the offence happened 
<input 
      [(ngModel)]="addOffence.date" 
      name = "date_of_offence"  
      type= "date" 
      style=" width: 250px; text-align: center; align-self: auto;"
      class= "form-control"(input)="onUpdateServerName($event)"
      required>  
   <select [ngModel]="'Reported'" 
           name = "type_of_offence" 
           class= "invisible"></select> -->
<h1></h1>
<div class = "row">
  <div class = "col-xs-12">
        <!-- button submit the report -->
  <button style="left: 50%; width: 250px" 
          class ="btn btn-primary"
          [disabled]="!f.valid">Submit Report</button>
  </div>
</div>
</form>
