<body style=" position: absolute; color:black; background-color:lemonchiffon; width: 250px">
  <h4>Report Details</h4>
<label>Student Number</label>
<input type="text" style="width: 200px;"
class= "form-control"(input)="onUpdateServerName($event)">

<label>Reasons for report</label>
<input type= "text" style="width: 200px"
class= "form-control"(input)="onUpdateServerName($event)">


<label>Date of offence</label>
<input type= "date" style="width: 200px"
class= "form-control"(input)="onUpdateServerName($event)">


,<div class = "row">
  <div class = "col-xs-12">
    <button style="color: white; background-color: darkgray; left: 50%; width: 250px" class ="btn btn-primary" [disabled]="!allowsNewServer">ADD BOOK</button>
  </div>
</div>

