<!--Logout page-->
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="exampleModalLabel">Ready to Leave?</h1>
        <button 
               class="close" 
               type="button" 
               data-dismiss="modal" 
               aria-label="Close">
        </button>
    <!--Prompts user final time before logging out-->
    </div>
      <div class="modal-body" >Are you sure you want to logout?</div>
        <div class="modal-footer">
        <button 
               class="btn btn-secondary"  
               data-dismiss="alert" 
               type="button" 
               data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" (click) = "logout($event);" href="/home">Logout</a>
      </div>
    </div>
  </div>