<!--Displays Home Page-->
<label style="position:absolute; left:30%; top:20% ; color: whitesmoke ;font-size: 350%; font-style:oblique;" >WELCOME TO SELIT</label>
<label style="position:absolute; left:30%; top:30% ; color: whitesmoke; font-size: 100%; font-style:oblique;" >Your Online Book Finder</label>

<h1>
</h1>
<!--FLips Logo around to display Some Information-->
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img style="position: absolute; width: 600px; height: 300px; left:25%; top: 100%" src="../assets/Img/SELIT.png">
        <div class="image" style="align-self: center"></div> 
    </div>
    <!--Small info given to user-->
    <div class="flip-box-back">
      <p style = "color: white">
        -This site helps you find textbooks and sell your own textbooks.
      </p>
      <p style = "color: white">
        -Using this webpage for wrong purpose can result in a ban. This will remove student access to the system.
      </p>
    </div>
  </div>
</div>



  