<body style=" position: absolute; color:black; background-color:lemonchiffon">
  <h4>Enter Your Details Below</h4>
<label>Student Number</label>
<input type="text"
class= "form-control"(input)="onUpdateServerName($event)">
<label>First Name</label>
<input type= "Password"
class= "form-control"(input)="onUpdateServerName($event)">
<label>Last Name</label>
<input type="text"
class= "form-control"(input)="onUpdateServerName($event)">
<label>Contact Number</label>
<input type= "Password"
class= "form-control"(input)="onUpdateServerName($event)">
<label>Contact Number</label>
<input type="text"
class= "form-control"(input)="onUpdateServerName($event)">
<label>Email Address</label>
<input type= "Password"
class= "form-control"(input)="onUpdateServerName($event)">
<label>Password</label>
<input type="text"
class= "form-control"(input)="onUpdateServerName($event)">

<select>
    <option label="Eastern Cape"></option>  
    <option label="Free State"></option>
    <option label="Gauteng"></option>
    <option label="KwaZulu-Natal"></option>
    <option label="Limpopo"></option>
    <option label="Mpumalanga"></option>
    <option label="North West"></option>
    <option label="Northern Cape"></option>
    <option label="Western Cape"></option>
    <option label="Other"></option>
  
  </select>

  <select>
      <option label="Volvo"></option>
      <option label="Saab"></option>
      <option label="Mercedes"></option>
      <option label="Audi"></option>
    </select>

<button style="color: white; background-color: darkgray; left: 50%;" class ="btn btn-primary" [disabled]="!allowsNewServer">Register</button>
</body>
